---
layout: page
title: Slides
description:
  Links to all my slides and CFPs
permalink: /slides/
regenerate: true
---

<section class="listing">
  <ul>
    {% for page in site.pages %}
      {% unless page.hidden %}
      {% if page.layout == 'slide' and page.title %}
        <li>
          <span>{{ page.date }} - <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">
            {{ page.title }}
          </a></span>
        </li>
      {% endif %}
      {% endunless %}
    {% endfor %}
  </ul>
</section>