// General colors

$color-white: #FFF;
$color-black: #000;

$color-1: $color-white;
$color-2: #515151;

// Color schemes for themes based on https://github.com/chriskempson/base16
$base-00: #2a1c31;
$base-01: #523d5d;
$base-02: #786184;
$base-03: #9a86a5;
$base-04: #d1c6d8;
$base-05: #e5dee9;
$base-06: #f4f0f5;
$base-07: #fcfbfd;
$base-08: #8a58a6;
$base-09: #a6589a;
$base-0A: #a65873;
$base-0B: #a68a58;
$base-0C: #73a658;
$base-0D: #58a68a;
$base-0E: #5873a6;
$base-0F: #6458a6;

// Fonts
$primary-font: 'Ubuntu Mono', "Helvetica Neue", Helvetica, Arial, sans-serif;
